.first-v{
    display: flex;
    height: 800px;

    .first-v-content-wrap{
        position: relative;
        width: 50%;
        text-align: center;

        .first-v__content{
            font-size: 38px;
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translate(0%, -50%);
            // display: flex;
            // flex-direction: column;

            .content_ja{
                font-family: Hiragino Mincho Pro;
                margin-bottom: 96px;
                letter-spacing: 3.8px;
            }
            .content_en{
                font-family: Zapfino;
                letter-spacing: 3.8px;
            }

        }
    }

    .first-v-img{
        width: 50%;
        img{
            width: 100%;           
            height: 100%;
        }
    }
}


@include sp{
    .first-v{
        position: relative;
        height: 600px;

        .first-v-content-wrap{
            position: absolute;
            height: 100%;
            width: 100%;

            .first-v__content{
                color: #ffffff;
                display: flex;
                flex-direction: column-reverse;
                transform: translate(0%, -80%);

                .content_ja{
                    letter-spacing: 2.3px;
                    font-size: 23px;
                    margin-bottom: 0px;
                }
                .content_en{
                    letter-spacing: 2.8px;
                    font-size: 28px;
                    padding: 30px 0;
                }

            }
        }

        .first-v-img{
            width: 100%;
            overflow: hidden;
            img{
                width: 130%;
                height: 100%;
            }
        }
    }
}

