footer{
    font-family: Roboto Mono for Powerline;
}

.footer-wrap{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #70707036;
    width: 83%;
    margin: 165px auto 0;
    padding-top: 100px;
    padding-bottom: 100px;

    .footer__title{
        color: #7070704D;   
        font-size: 32px;
        letter-spacing: 3.2px;
        display: flex;

        .fab{
            color: black;
        }

        p{
            margin-right: 26px;
        }
        .fa-facebook-square{
            margin-left: 9px;;
        }
    }
    .reserve{
        border: 1px solid #707070;
        font-size: 18px;
        letter-spacing: 1.8px;
        text-align: center;
        width: 200px;
        color: #707070;
        p{
            line-height: 32px;
        }
    }
}